<div class="main-content">
  <h1 class="titulo-compra">Compra exitosa!</h1>
  
  <div class="welcome-message">
    <p>
      ¡Hola!
      <br>
      ¡Gracias por elegirnos y darle la bienvenida a nuestra comunidad de PORTAL GAMER!
      <br>
      Estamos emocionados de que hayas confiado en nosotros.
      Queremos expresar nuestro agradecimiento sincero por tu compra. Cada vez que eliges nuestros juegos, nos ayudas a crecer y mejorar.
      <br>
      Si tienes alguna pregunta o necesitas asistencia adicional, nuestro equipo de atención al cliente está aquí para ayudarte en todo momento. Nos importa tu satisfacción y estamos comprometidos a brindarte un servicio excepcional.
      <br>
      ¡Esperamos que disfrutes de tu compra tanto como nosotros disfrutamos de tenerte como parte de nuestra comunidad!
      <br>
      Gracias nuevamente y ¡feliz compra!
      <br>  
      Atentamente, PORTAL GAMER
    </p>
  </div>

  <div class="text-center">
    <p><strong>Gracias por tu compra. Se ha enviado un correo de confirmación a {{ userEmail }}.</strong></p>
    <img src="https://cdn.dribbble.com/users/1238709/screenshots/4069900/success_celebration_800x600.gif" alt="gif">
  </div>
  
  <div class="text-center">
    <!-- Botón para redireccionar a orderhistory.component.html -->
    <button (click)="redirectToOrderHistory()">Ir a Historial de Pedidos</button>
  </div>
</div>
